apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api
  namespace: users-service
  labels:
    app: users-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
      - name: users-api
        image: acrinfiniteloops.azurecr.io/fiap.post.tech.users:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080

        # recursos (necessários para HPA)
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"

        envFrom:
        - configMapRef:
            name: users-config
        - secretRef:
            name: users-secrets

        # health probes
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10

        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
